<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2 fixed-top">
  <div class="container-fluid">
    <a href="{% url 'landing:landing'%}" class="navbar-brand">Анализ ВПР</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'vpr:instructions'%}">Инструкция</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'vpr:contacts' %}">Контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'vpr:about' %}">О сайте</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Content Section -->
{% block content %}  {% endblock %}
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>