{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-12 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">О сайте</h1>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center vh-50">
        <div class="col-md-10 col-lg-8 text-center">
            <p class="lead">Наш сервис помогает учителям быстро и точно анализировать результаты "ВПР". Он автоматизирует
                процесс расчёта ключевых показателей, снижает нагрузку на педагогов и экономит их время.
                Платформа предлагает универсальное решение, подходящее для всех классов и предметов. Автоматические расчёты
                минимизируют вероятность ошибок, а визуализация данных в удобных таблицах и графиках делает анализ
                наглядным и понятным. Система упрощает рутинную работу, позволяя педагогам сосредоточиться на главном
                – обучении учеников.</p>
            <p class="lead">Данный сайт является проектом начинающего разработчика. Несмотря на стремление к точности, возможны ошибки, поэтому рекомендуется перепроверять результаты. Буду рад обратной связи и ещё больше – сотрудничеству.</p>
        </div>
    </div>
</div>
{% endblock %}
