{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <!-- Заголовок страницы -->
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-12 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Как заполнять данные для анализа ВПР</h1>
            <p class="lead">
                Если у Вас есть вопросы, предложения или замечания, пожалуйста, <a href="{% url 'vpr:contacts' %}" class="text-decoration-none">напишите нам</a>.
            </p>
        </div>
    </div>

    <!-- Шаг 1 -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="fw-bold text-center">Шаг 1. Введите параметры класса</h3>
        </div>
    </div>
    <div class="row justify-content-center">
       <div class="col-md-10 col-lg-8">
         <div class="p-4 p-md-5 border rounded-3 bg-light">
            <p class="lead">
                На первой странице необходимо заполнить все параметры, которые позволят правильно проанализировать результаты ВПР.
            </p>
            <ul class="lead">
                <li><strong>Номер класса</strong> – введите только число (без буквы). Например, 5 или 11.</li>
                <li><strong>Количество учеников в классе</strong> – укажите общее число учащихся в классе, включая тех, кто отсутствовал на экзамене.</li>
                <li><strong>Количество заданий</strong> – укажите, сколько заданий было в ВПР.</li>
                <li><strong>Нижние границы баллов</strong> для оценок 3, 4 и 5 – введите границы баллов, необходимых для получения соответствующих оценок. Например, оценка 3 может начинаться с 10 баллов, а оценка 4 - с 15 баллов. Эти значения можно взять из методических рекомендаций.</li>
            </ul>
            <p class="lead">После заполнения данных нажмите кнопку "Далее".</p>
         </div>
       </div>
    </div>

    <!-- Шаг 2 -->
    <div class="row mt-4">
        <div class="col-lg-12">
            <h3 class="fw-bold text-center">Шаг 2. Введите данные учеников</h3>
        </div>
    </div>
    <div class="row justify-content-center">
       <div class="col-md-10 col-lg-8">
         <div class="p-4 p-md-5 border rounded-3 bg-light">
            <p class="lead">
                На этой странице автоматически создаётся таблица со списком учеников, которую необходимо заполнить.
            </p>
            <ul class="lead">
                <li><strong>Имя ученика</strong> – данное поле автоматически формируется, исходя из номера класса (первое число) и номера ученика в журнале (последнее число). При желании можно указать ФИО ученика вручную.</li>
                <li><strong>Оценка за 3-ю четверть</strong> – укажите текущую оценку (2, 3, 4 или 5) ученика по данному предмету, если он присутствовал на экзамене. В противном случае оставьте поле пустым.</li>
                <li><strong>Присутствие на экзамене</strong> – поставьте галочку, если ученик присутствовал на экзамене, иначе уберите её. Если ученик отсутствовал, его оценка за 3-ю четверть и баллы за задания не будут учитываться при анализе. </li>
                <li><strong>Баллы за задания</strong> – по умолчанию у всех учеников указано 0 баллов (задание не выполнено). Укажите 0 (задание не выполнено), 1 или 2 балла (задание выполнено). Эти поля не должны оставаться пустыми для корректного анализа результатов.</li>
            </ul>
            <p class="lead">После ввода всех данных нажмите кнопку "Получить результат".</p>
         </div>
       </div>
    </div>

    <!-- Шаг 3 -->
    <div class="row mt-4">
        <div class="col-lg-12">
            <h3 class="fw-bold text-center">Шаг 3. Результаты анализа</h3>
        </div>
    </div>
    <div class="row justify-content-center">
       <div class="col-md-10 col-lg-8">
         <div class="p-4 p-md-5 border rounded-3 bg-light">
            <p class="lead">
                Сайт автоматически рассчитает ключевые показатели успеваемости класса:
            </p>
            <ul class="lead">
                <li><strong>Распределение оценок</strong> – это данные о количество учеников, получивших каждую из возможных оценок (2, 3, 4, 5) за экзамен и за 3 четверть. Оценки рассчитываются автоматически, а данные представлены в виде сравнительной таблицы.</li>
                <li><strong>Процент качества (отметки 4 и 5)</strong> – доля учеников, получивших 4 или 5, среди всех присутствовавших.</li>
                <li><strong>Процент успеваемости (отметки 3, 4 и 5)</strong> – доля учеников, получивших 3 и выше, среди всех присутствовавших.</li>
                <li><strong>Самые распространенные ошибки</strong> – это задания, в которых 20% и более учеников допустили ошибки. Данные выводятся в виде таблицы, где отображаются номер задания, процент учащихся, допустивших ошибку, и их количество.</li>
                <li><strong>Проверка достоверности результатов</strong> – если выполняется хотя бы одно из условий: доля отсутствующих на экзамене учеников составляет 25% и более, разница между средним баллом за экзамен и за 3 четверть составляет 0.5 и более баллов, или 25% и более учеников находятся на границе оценки "3", то результат может считаться недостоверным.</li>
                <li><strong>Среднее количество решенных заданий</strong> – общее число решенных заданий делится на количество учеников, присутствовавших на экзамене.</li>
                <li><strong>Количество учащихся по списку</strong> – общее число учеников в классе.</li>
                <li><strong>Количество учащихся, присутствовавших на экзамене</strong> – число учеников, которые сдавали экзамен.</li>
                <li><strong>Средний балл за ВПР</strong> – сумма всех оценок за экзамен, деленная на количество присутствовавших учеников.</li>
                <li><strong>Средний балл за 3-ю четверть</strong> – сумма всех оценок за 3-ю четверть, деленная на количество учеников с оценками.</li>
                <li><strong>Процент учащихся, улучшивших оценку</strong> – доля учеников, чья оценка за экзамен выше, чем за 3-ю четверть.</li>
                <li><strong>Процент учащихся, ухудшивших оценку</strong> – доля учеников, чья оценка за экзамен ниже, чем за 3-ю четверть.</li>
            </ul>
         </div>
       </div>
    </div>

    <!-- Кнопка "Начать работу" вне голубых рамок -->
    <div class="row mt-4">
       <div class="col-lg-12 d-flex justify-content-center">
           <a href="{% url 'vpr:grade_and_exam_settings' %}" class="btn btn-primary">Начать работу</a>
       </div>
    </div>
</div>
{% endblock %}
